.box{
    border: 1px solid gray;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.tabs{
    display: flex;
    justify-content: space-between;

}

.tab{
    background: #ccc;
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    border-top:  none;
    cursor: pointer;
    position: relative;

}

.active-tab{
    border:  none;
    background: #fff;

}

.active-tab::after{
    border-top: 2px solid red;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: initial;
    animation: new .7s;
}

@keyframes new{
    from{
        top: 50px;
        left: 0;
        right: 0;
        background: red;
    }

    to{
        top: 0;
        left: 0;
        right: 0;
        border-top: 2px solid red;    }
}

.contents{
    position: relative;

}

.content{
    display: none;
position: relative;
}

.active-content{
    display: block;
    margin: 10px;
    transition: all 1s ease-in-out;
    animation: content .3s;
}

@keyframes content{
    from{
        margin: 0;
    }

    to{
        margin-left: 10px;
  }
}